# Environments
Qmes_env/
*.egg-info/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

data_source/
*.pkl
!Qmes/_models/**/*.pkl

# IDE
.vscode/
data/cache/

# MkDocs build output
site/

# .gitignore
scripts/check_*.py
scripts/test_*.py
scripts/test_*.ipynb