# Environments
Qmes_env/
*.egg-info/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data tải về / artifacts lớn
data_source/
*.pkl

# IDE
.vscode/
data/cache/

# .gitignore
scripts/check_*.py
scripts/test_*.py
scripts/test_*.ipynb

